<%= form_with(model: [@total_sum, @check]) do |form| %>
  <div class="mb-3 row">
    <div class="col-sm-1 col-form-label">
      <strong><%= form.label :title %></strong>
    </div>

    <div class="col-sm-9">
      <%= form.text_field :title, autocomplete: "Title", class: 'form-control form-control-lg'  %>
    </div>
  </div>
  <br>
  <div class="mb-3 row">
    <div class="col-sm-1 col-form-label">
      <strong><%= form.label :body %></strong>
    </div>

    <div class="col-sm-9">
      <%= form.text_field :body, autocomplete: "Body", class: 'form-control form-control-lg'  %>
    </div>
  </div>
  <br>
  <div class="mb-3 row">
    <div class="col-sm-1 col-form-label">
      <strong><%= form.label :cost %></strong>
    </div>

    <div class="col-sm-9">
      <%= form.number_field :cost, autocomplete: "Cost", class: 'form-control form-control-lg'  %>
    </div>
  </div>
  <br>

  <div class="form-group">
    <% if @check.image.attached? %>
      <%= image_tag @check.image, style: "width: 200px; display: block" %>
    <% end %>
    <div class="mb-3 row">
      <div class="col-sm-1 col-form-label">
        <strong><%= form.label :image %></strong>
      </div>

      <div class="col-sm-9">
        <%= form.file_field :image, autocomplete: "Cost", class: 'form-control form-control-lg'  %>
      </div>
    </div>
    <br>
  </div>
  <div class="actions">
    <%= form.submit class: 'btn btn-dark' %>
  </div>
<% end %>