<div class="show">
  <h2><strong><%= @check.title %></strong></h2>
  <h5><strong>Body:</strong>
    <%= @check.body %></h5>
  <h5><strong>Cost:</strong>
    <%= @check.cost %></h5>
  <% if @check.image.attached? %>
    <h5><strong>Image:</strong></h5>
    <div class="img-block">
      <%= render 'checks/modal' %>
    </div>
  <% end %>
  <%= link_to 'Back', total_sum_path(@check.total_sum_id), class: 'btn btn-dark' %>
</div>
