<%= form_with(model: @total_sum, local: true) do |form| %>
  <% if @total_sum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@total_sum.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
        <% @total_sum.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3 mt-4 row">
    <div class="col-sm-1 col-form-label">
      <strong><%= form.label :title %></strong>
    </div>

    <div class="col-sm-9">
      <%= form.text_field :title, autocomplete: "Title", class: 'form-control form-control-lg'  %>
    </div>
  </div>
  <br>

  <div class="mb-3 row">
    <div class="col-sm-1 col-form-label">
      <strong><%= form.label :for_what %></strong>
    </div>

    <div class="col-sm-9">
      <%= form.text_field :for_what, autocomplete: "For What", class: 'form-control form-control-lg'  %>
    </div>
  </div>
  <br>

  <div class="actions">
    <%= form.submit class: 'btn btn-dark mb-3' %>
  </div>
<% end %>