<%= form_with(model: @total_sum, local: true) do |form| %>
  <% if @total_sum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@total_sum.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
        <% @total_sum.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :for_what %>
    <%= form.text_field :for_what %>
  </div>

  <div class="field">
    <%= form.label :count %>
    <%= form.number_field :count %>
  </div>

  <div class="field">
    <%= form.label :checks %>
    <%= form.collection_select :checks_id, Check.all, :id, :title, prompt: true%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>