<h1>Total Sums</h1>


  <% @total_sums.each do |total_sum| %>
  <article class="card my-3">
    <section class="card-header">
      <h3><%= link_to total_sum.title, total_sum_path(total_sum) %></h3>
    </section>
    <div class="card-body">
  <section class="card-text">
      <p class="my-2">
        <%= truncate strip_tags(total_sum.for_what), length: 150 %>
      </p>
    </section>
      <div style="display: flex;" class="mt-3">
    <% if user_signed_in? %>
      <%= link_to 'Edit', edit_total_sum_path(total_sum), class: 'btn btn-secondary mx-2' %>
      <%= button_to 'Destroy', total_sum, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    <% end %>
      </div>
    </div>
  </article>
  <% end %>


<br>
<% if user_signed_in? %>
<%= link_to 'New Total Sum', new_total_sum_path, class: 'btn btn-secondary' %>
<% end %>
