<h2><strong><%= @total_sum.title %></strong></h2>

<h5><strong>For What:</strong>
  <%= @total_sum.for_what %></h5>

<h5>
  <strong>Count:</strong>
  <%= @total_sum.checks.map {|x| x.cost }.compact.sum %>
</h5>
<% if user_signed_in? %>
<hr>
<h4 class="mb-4">Add new check</h4>
  <%= render 'checks/form', total_sum_id: @total_sum.id %>
<% end %>
<hr>

<div class="checks">
  <% if @total_sum.checks.compact != [] && @total_sum.checks.compact != nil %>
    <h4>All checks</h4>
    <% @total_sum.checks.each do |check| %>
      <% if check.id != nil %>
      <article class="card my-3">
        <section class="card-header">
          <h3><%= check.title %></h3>
        </section>
        <div class="card-body">
          <section class="card-text">
            <p class="my-2">
              <%= truncate strip_tags(check.body), length: 150 %>
            </p>
            <small>
              <%= check.cost %>
            </small>
            <div class="button mt-3" style="display: flex;">

                <%= link_to 'Show', total_sum_check_path(@total_sum, check), class: 'btn btn-secondary mx-1' %>
                <%= button_to 'Delete', total_sum_check_path(@total_sum, check),
                              class: 'btn btn-danger btn-xs', method: :delete, confirm: 'Are you sure' %>
            </div>
          </section>
        </div>
      </article>
      <% end %>
    <% end %>
  <% else %>
    <h4>There are no checks yet</h4>
  <% end %>
</div>

<%= link_to 'Edit', edit_total_sum_path(@total_sum), class: 'btn btn-secondary mx-1' %>
<%= link_to 'Back', total_sums_path, class: 'btn btn-secondary' %>