<%= form_with(model: @category, local: true) do |form| %>
  <% if @category&.errors&.full_messages&.any? %>
    <div class="alert alert-danger">
      <ul class="mb-0">
        <% @category&.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3 mt-4 row">
    <div class="col-sm-1 col-form-label">
      <strong><%= form.label :name %></strong>
    </div>

    <div class="col-sm-9">
      <%= form.text_field :name, autocomplete: "Name", class: 'form-control form-control-lg'  %>
    </div>
  </div>
  <br>

  <div class="mb-3 row">
    <div class="col-sm-1 col-form-label">
      <strong><%= form.label :description %></strong>
    </div>

    <div class="col-sm-9">
      <%= form.text_field :description, autocomplete: "Description", class: 'form-control form-control-lg'  %>
    </div>
  </div>
  <br>

  <div class="actions">
    <%= form.submit class: 'btn btn-dark mb-3' %>
  </div>
<% end %>