<% require 'streamio-ffmpeg' %>

<div class="transactions row" >
  <h4>All transactions</h4>
  <% if current_user %>
    <% Transaction.all.each do |transaction| %>
      <% if transaction.id == current_user.id %>
        <div class="col-md-3 card shadow-lg p-3 mb-5 bg-body rounded mx-3" style="width: 18rem;">
          <% if transaction.image.present? %>
            <% if transaction.image.previewable? %>
              <%= image_tag transaction.image.preview(
                resize_to_fit: [500, 500]
              ) %>
            <% elsif transaction.image.variable? %>
              <%= image_tag transaction.image.variant(
                resize_to_fit: [500, 500]
              ) %>
            <% end %>
          <% else %>
            <%= image_tag("image.svg", :alt => "rss feed", style: "width: 100%; max-width: 200px; height: 175px",
                          class: "card-img-top") %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= transaction.title.capitalize %></h5>
            <p class="card-subtitle lh-1 mb-1"><%= truncate strip_tags(transaction.body.capitalize) %></p>
            <% if transaction.category != nil %>
              <p class="card-text"><b>Category:</b> <%= transaction.category.name %></p>
            <% else %>
              <p class="card-text"><strong>Category is not selected</strong></p>
            <% end %>
            <p class="card-text"><b>Cost:</b> <%= transaction.cost %></p>
            <p class="small"><b>Created at:</b> <%= transaction.created_at.strftime('%H:%M:%S %Y/%m/%d') %></p>

            <div class="button" style="display: flex;">
              <%= link_to 'Show', transaction_path(transaction), class: 'btn btn-dark mx-2 ' %>
              <% if user_signed_in? %>
                <%= link_to 'Edit', edit_transaction_path(transaction), class: 'btn btn-dark' %>
                <%= button_to 'Delete', transaction_path(transaction),
                              class: 'btn btn-danger btn-xs mx-2', method: :delete, confirm: 'Are you sure' %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>