<h2><strong><%= @account.title %></strong></h2>

<h5><strong>For What:</strong>
  <%= @account.for_what %></h5>

<h5>
  <strong>Count:</strong>
  <%= @account.transactions.map {|x| x.cost }.compact.sum %>
</h5>
<% if user_signed_in? %>
<hr>
  <%= render 'accounts/modal', account_id: @account.id %>
<% end %>
<hr>

<% if user_signed_in? %>
  <%= link_to 'New Category', new_category_path, class: 'btn btn-dark mb-3' %>
  <%= link_to 'All Categories', categories_path, class: 'btn btn-dark mb-3' %>
<% end %>

<div class="transactions row" >
  <% if @account.transactions.compact != [] && @account.transactions.compact != nil %>
    <h4>All transactions</h4>
    <% @account.transactions.each do |transaction| %>
      <% if transaction.id != nil %>
        <div class="col-md-3 card shadow-lg p-3 mb-5 bg-body rounded mx-3 card-width">
          <% if transaction.image.present? %>
            <% if transaction.image.previewable? %>
              <%= image_tag transaction.image.preview(
                  resize_to_fit: [200, 175]
                  ) %>
            <% elsif transaction.image.variable? %>
              <%= image_tag transaction.image %>
            <% end %>
          <% else %>
            <%= image_tag("image.svg", :alt => "rss feed",
                          class: "card-img-top card-image") %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= transaction.title.capitalize %></h5>
            <p class="card-subtitle lh-1 mb-1"><%= truncate strip_tags(transaction.body.capitalize) %></p>
            <% if transaction.category != nil %>
              <p class="card-text"><b>Category:</b> <%= transaction.category.name %></p>
            <% end %>
            <p class="card-text"><b>Cost:</b> <%= transaction.cost %></p>
            <p class="small"><b>Date of creating:</b> <%= transaction.date_of_creating.strftime('%Y/%m/%d') %></p>

            <div class="button" style="display: flex;">
              <%= link_to 'Show', transaction_path(transaction), class: 'btn btn-dark mx-2 ' %>
              <% if user_signed_in? %>
                <%= link_to 'Edit', edit_transaction_path(transaction), class: 'btn btn-dark' %>
                <%= button_to 'Delete', account_transaction_path(@account, transaction),
                              class: 'btn btn-danger btn-xs mx-2', method: :delete, confirm: 'Are you sure' %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>

</div>
<div class="d-grid gap-2 mx-auto d-flex justify-content-center">
  <% if user_signed_in? %>
    <%= link_to 'Edit', edit_account_path(@account), class: 'btn btn-dark mx-1 mb-3 col-6' %>
    <%= link_to 'Back', accounts_path, class: 'btn btn-dark mb-3  col-6', type: 'button' %>
  <% else %>
    <%= link_to 'Edit', edit_account_path(@account), class: 'btn btn-dark mx-1 mb-3 disabled col-6', type: 'button'  %>
    <%= link_to 'Back', accounts_path, class: 'btn btn-dark mb-3  col-6', type: 'button' %>
  <% end %>
</div>

